################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormAuthDemo/packages
/FormAuthDemo/FormAuth.Website/bin
/FormAuthDemo/FormAuth.Website/obj/Debug
/FormAuthDemo/WebApplication1/bin
/FormAuthDemo/WebApplication1/obj/Debug
